<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="/bower_components/literallycanvas/css/literallycanvas.css" rel="stylesheet">
    <style id="css"><%= css %></style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="app"><%= body %></div>

    <script src="/app.js"></script>

    <!-- XXX: TODO: BOO -->
    <script src="/bower_components/react/react-with-addons.min.js"></script>
    <script src="/bower_components/literallycanvas/js/literallycanvas.min.js"></script>

    <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
    <script type="text/javascript">
    var pubnub = PUBNUB.init({
      publish_key: 'pub-c-697a4ccd-a8a7-4729-9d48-3ff6c457fc8c',
      subscribe_key: 'sub-c-319df988-5c20-11e5-b0b1-0619f8945a4f',
      origin: 'pubsub.pubnub.com',
      ssl: true
    });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X', 'auto');ga('send','pageview');
    </script>
  </body>
</html>
