/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.DrawingPage-container {
  margin: 0;
  padding: 0;
  width:100%;
  height:calc(100vh);
  width: 1920px; height: 1080px;
}

.DrawingPage-container .literally {
  /*width: 1920px; height: 1080px;*/
  height:calc(100vh);
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/grid-me.png);
  /* This is mostly intended for prototyping; please download the pattern and
   * re-host for production environments. Thank you! */
}

.DrawingPage-canvas canvas {
    border: 3px solid blue;
}

.DrawingPage-colorPicker {
    position: absolute; right: 0; top: 40%;
    text-align:center;
}
.DrawingPage-colorPicker span {
    display: block;
    width: 30px; height:30px; border-radius: 25px; margin:10px auto;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.DrawingPage-colorPicker span.active {
    width: 50px; height: 50px;
}

.literally .lc-drawing {
    left: 0;
}
.literally .lc-picker {
    bottom: 0;
    width: 100%;
    height: 31px;
    top: auto;
    border-top: 1px solid #bbb;
    border-right: none;
    margin:0;
}
.lc-color-pickers, .lc-undo-redo, .lc-zoom, .lc-clear {
    float: right;
}
.lc-color-pickers {
    display: none; /* replace with a custom, more limited color picker */
}
.lc-options {
    display: none; /* size picker not all that relevant for mvp */
}
.literally .lc-picker .fat-button {
    clear: none;
}
.literally .lc-picker .lc-pick-tool, .literally .lc-picker .lc-undo, .literally .lc-picker .lc-redo, .literally .lc-picker .lc-zoom-in, .literally .lc-picker .lc-zoom-out {
    z-index: 1;
}

.Header, .Footer {
    display: none;
}

.DrawingPage-collaborators {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    padding: 5px;
    border: 1px solid #eee;
    background: #fafafa;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-radius: 4px;
}
